/* primitive/opacity.css */
@layer config {
  :root {
    --opacity-0:   0;
    --opacity-10:  0.1;
    --opacity-25:  0.25;
    --opacity-50:  0.5;
    --opacity-75:  0.75;
    --opacity-90:  0.9;
    --opacity-100: 1;
  }
}
