/* semantic/opacity.css */
@layer config {
  :root {
    --opacity-backdrop: var(--opacity-50);
    --opacity-disabled: var(--opacity-25);
    --opacity-overlay:  var(--opacity-75);
    --opacity-subtle:   var(--opacity-10);
  }
}
